# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/

# Old bibliography files
AIFFDReferences.bib.bak

# Old knitr files
old/
.Rproj.user

# Cache and other files
*_cache/
*_files/
Figs/
